.wrapper {
	position: relative;
	background: #F5F5F5;
}

.wrap-header-bg{
	background: #FFFFFF;
}

.wrap-header-bg-txt{
	background: #E27660;
}

.main-bg {
	position: absolute;
	height: 541px;
	width: 100%;
	background:  #E27660;
	top: 650px;
}

.main-bg::before {
	content: '';
	position: absolute;
	top: -188px;
	left: 0;
	height: 190px;
	width: 100%;
	background: url("../images/Background block.png") 0 50% no-repeat;
	background-size: 100% 190px;
}

.navbar-header {
	background-color: transparent;
	border-color: transparent;
}
.navbar-white,
.navbar-footer {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: normal;
	color: #FFFFFF;
	opacity: 0.6;
}

.navbar-header .navbar-nav>.open>a, .navbar-header .navbar-nav>.open>a:focus, .navbar-header .navbar-nav>.open>a:hover {
    
    background: transparent;
    opacity: 1;
	transition: 0.3s;
	color: #E96A6A;
}
/**/
.navbar-header .navbar-nav>.open>a.dropdown-toggle, .navbar-header .navbar-nav>.open>a.dropdown-toggle:focus, .navbar-header .navbar-nav>.open>a.dropdown-toggle:hover {
    background: transparent url(../images/Arrow.png) 86px 23px no-repeat;
}


.navbar-white .navbar-nav>.open>a, .navbar-white .navbar-nav>.open>a:focus, .navbar-white .navbar-nav>.open>a:hover {
    
    background: transparent;
    opacity: 1;
	transition: 0.3s;
	color: #FFFFFF;
}

.navbar-white .navbar-nav>.open>a.dropdown-toggle, .navbar-white .navbar-nav>.open>a.dropdown-toggle:focus, .navbar-white .navbar-nav>.open>a.dropdown-toggle:hover {
    background: transparent url(../images/Arrow-up.png) 86px 23px no-repeat;
}

.navbar-footer .navbar-nav>li>a:focus, .navbar-footer .navbar-nav>li>a:hover {
    background-color: transparent;
    opacity: 1;
	transition: 0.3s;
	color: #FFFFFF;
}

.navbar-white .navbar-nav>li>a:focus, .navbar-white .navbar-nav>li>a:hover {
    background-color: transparent;
    opacity: 1;
	transition: 0.3s;
	color: #FFFFFF;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #E96A6A;
}

.navbar-white .navbar-brand:focus, .navbar-white .navbar-brand:hover {
    color: #FFFFFF;
}

.navbar-white .navbar-brand:focus, .navbar-white .navbar-brand {
    color: #FFFFFF;
}


.navbar-footer .navbar-nav>li>a.active {
    opacity: 1;
    transition: 0.3s;
    color: #FFFFFF;
}

.navbar-white .navbar-nav>li>a.active {
    opacity: 1;
    transition: 0.3s;
    color: #FFFFFF;
}

.navbar-default .navbar-text {
    font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: normal;
	color: #FFFFFF;
	opacity: 0.6;
}

.wrap-footer-menu {
	margin-bottom: 25px;
}

.main-menu>li {
	margin-right: 10px;

}

.main-menu>li:last-child {
	margin-right: 0px;
}

.wrap-main-menu {
	padding-top: 15px;
}

.navbar-header .navbar-brand {
    font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: normal;
	color: #E96A6A;
}

.navbar-white .navbar-brand {
    font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: normal;
	color: #FFFFFF;
}

.navbar-white .navbar-nav>li>a.dropdown-toggle {
	background: transparent url(../images/Arrow-down.png) 86px 23px no-repeat;
}

.navbar-header .navbar-nav>li>a {
    font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: normal;
	/*text-align: right;*/
	color: rgba(0, 0, 0, 0.8);
	opacity: 0.4;
	background: transparent;
}

.navbar-header .navbar-nav>li>a.dropdown-toggle {
	background: transparent url(../images/Arrow-black.png) 86px 23px no-repeat;
}

.navbar-header .navbar-nav>li>a:hover {
	opacity: 1;
	transition: 0.3s;
}

.navbar-header .navbar-nav>li>a.active {
	opacity: 1;
	transition: 0.3s;
	color: #E96A6A;
}

.navbar-header .navbar-nav>li>a:active {
	opacity: 1;
	transition: 0.3s;
	color: #E96A6A;
}

.navbar-nav>li>.drop-main {
    background: #E96A6A;
	border-radius: 5px;
	padding: 17px 0;


}

.navbar-nav>li>.drop-main>li>a {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: normal;
	color: #FFFFFF;
	opacity: 0.4;
	transition: 0.3s;
	padding: 5px 20px;
}

.navbar-nav>li>.drop-main>li>a:hover {
	background-color: transparent;
	opacity: 1;
	transition: 0.3s;
}

.navbar-nav>li>.drop-main>li>a::after {
	position: absolute;
	content: "";
	background-image: url(../images/Ellipse.png);
	width: 16px;
	height:16px;
	right: 20px;
	margin-top: 1px;
}

.navbar-nav>li>.drop-main>li>a:hover:after {
	position: absolute;
	content: "";
	background-image: url(../images/Point.png);
	width: 16px;
	height:16px;
	right: 20px;
}

.navbar-nav>li>.drop-main>li>a.active {
	opacity: 1;
	padding-bottom: 20px;
}

.navbar-nav>li>.drop-main>li>a.active:after {
	position: absolute;
	content: "";
	background-image: url(../images/Point.png);
	width: 16px;
	height:16px;
	right: 20px;
}

/* white menu - li.a::after */
.navbar-nav>li>.drop-white>li>a::after {
	background-image: url(../images/Ellipse-org.png);
	
}

.navbar-nav>li>.drop-white>li>a:hover:after {
	background-image: url(../images/Point-org.png);
}

.navbar-nav>li>.drop-white>li>a.active:after {
	background-image: url(../images/Point-org.png);
}


 /* main title*/

.main-title-discription {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: normal;
	text-align: center;

	color: rgba(0, 0, 0, 0.8);

}

.header-title-discription {
	margin-top: 20px;
	margin-bottom: 60px;
}


.header-logo {
	margin-top: 76px;
}

.main-image {
	margin-top: 15px;
}

.btn-zh {
	opacity: 0.8;
	transition: 0.3s;
}

.btn-zh:hover {
	opacity: 1;
	transition: 0.3s;
}

.btn-footer-zh img {
	margin-bottom: 70px;
}

.btn-header {
	opacity: 0.75;
	width: 225px;
	height: 57px;
	border-radius: 100px;
	background-color: #000000;
	transition: 0.3s;

}

.btn-header:hover {
	opacity: 1;
	transition: 0.3s;
}

.btn-footer {
	width: 225px;
	height: 57px;
	opacity: 0.8;
	background: #FFFFFF;
	border-radius: 100px;
	transition: 0.3s;
	margin-bottom: 70px;
}

.btn-footer:hover {
	opacity: 1;
	transition: 0.3s;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

.header-block-text {
	margin-top: 216px;
	position: relative;
}


.header-block-text p {
	margin-top: 60px;
	margin-bottom: 85px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 34px;

	color: #FFFFFF;
}

.header-block-text img {
	width: 100%
}

.wrap-content-bg {
	background: #F5F5F5;
}

.content {
	position: relative;
	background: #FFFFFF;
	border-radius: 50px 50px 0px 0px;
	border: 60px solid #FFFFFF;
	box-sizing: content-box;
}

.screen-colum {
	padding: 40px;
}

.screen-title {
	padding-top: 60px;
	margin-bottom: 100px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 39px;
	text-align: center;
	color: rgba(0, 0, 0, 0.8);
}


.sreen-image {
	height: 110px;
}

.screen-colum p {
	margin-top: 55px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: rgba(0, 0, 0, 0.8);

}

.content-block-text p {
	padding-top: 60px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 37px;
	text-align: center;
	color: rgba(0, 0, 0, 0.8);

}

.screen-two {
	margin-bottom: 40px;
	margin-top: 110px;
}

.second-title {
	margin-bottom: 120px;

}

.hand-image {
	padding-top: 20px;
}

.wrap-footer-bg {
	background: linear-gradient(180deg, #E96A6A 0%, #E9816A 100%);
	border-radius: 50px 50px 0px 0px;
}

.footer-title-discription {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 34px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 30px;
	color: #FFFFFF;
}

.footer-logo {
	margin-top: 80px;
}

.my-glyph {
	font-size: 11px;
    padding-left: 20px;
    visibility: hidden;
}

.mono-bg {
	position: absolute;
	background: #E27660;
	height: 380px;
	width: 100%;
}

.title-txt {
	position: relative;
	margin-bottom: 100px;
	margin-top: 88px;
}

.title-txt h1 {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: normal;
	text-align: center;

	color: #FFFFFF;
}

.title-txt p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: normal;
	text-align: center;
	color: #FFFFFF;
	opacity: 0.6;
}

.inner-content {
	padding: 30px 120px;
}

.inner-content h3 {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: normal;
	color: rgba(0, 0, 0, 0.8);
	margin-bottom: 40px;
	margin-top: 50px;
}

.inner-content p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: rgba(0, 0, 0, 0.8);
	padding-bottom: 20px;

}

.orange {
	list-style-type: none;
}

.orange li {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 34px;
	color: rgba(0, 0, 0, 0.8);
	left: -19px;
	padding-bottom: 10px;
	position: relative;
}

/*.orange li:last-child {
	padding-bottom: 0px;
}
*/
.orange li::before {
    color: #E96A6A;
    /* UTF-8 escape sequence, соответствующая символу "Маркер списка" */
    content:"\2022";
    /* Делаем больше, чем основной текст в li */
    font-size: 26px;
    font-weight: 700;
    /* Элемент вырван из потока, выравниваем отрицательным отступом */
    left: -20px;
    /* Высота строки и позиционирование необходимы для выравнивания по вертикали */
    line-height: 25px;        
    position: absolute;
    top: 5px;
}

.navbar-nav>li>.drop-white {
    background: #FFF;
}

.navbar-nav>li>.drop-white>li>a {
    color: #E27660;
}
.inner-content a.link {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 31px;
	text-decoration-line: underline !important;
	color: #E96A6A;
}

a.link:hover {
	color: #DC1E1E;
	transition: 0.3s;
}




@media(max-width:1325px) {
	.content {
	border: none;
	box-sizing: border-box;
	}
	.main-bg::before {
	background: url("../images/Background block.png") 50% 50% no-repeat;
	background-size: auto;
	}
}

@media(max-width:1200px) {


}

@media(max-width:991px) {
	.main-image {
		display: none;
	}

}

@media(max-width:768px) {
	.navbar-nav>li>.drop-main>li>a::after {
	display: none;
	}

	.navbar-nav>li>.drop-main>li>a:hover:after {
	display: none;
	}
	.navbar-nav>li>.drop-main {
    padding: 10px 0;
	}
	.content-block-text img {
	width: 100%;
	}
	.inner-content {
	padding: 30px 50px;
	}
	.navbar-default .navbar-nav .open .drop-white>li>a {
    color: #FFFFFF;
	}
	.inner-content h3 {
    font-size: 42px;
	}
	.screen-two {
	margin-top: 50px;
	}
	
}


@media(max-width:460px) {
	.header-logo {
	width: 85%
	}
	.footer-logo {
	width: 85%
	}
	.header-block-text p {
    margin-bottom: 35px;
	}
	.inner-content a.link,
	.footer-title-discription,
	.content-block-text p,
	.header-block-text p {
	font-size: 18px;
	}
	.header-logo,
	.footer-logo {
    margin-top: 50px;
	}
	.screen-title,
	.second-title {
    margin-bottom: 50px;
	}
	.navbar-default .navbar-text {
	font-size: 13px;
	}
	.inner-content {
	padding: 20px 10px;
	}
	.title-txt h1 {
    font-size: 45px;
	}
	.inner-content h3 {
    font-size: 24px;
	}
	.orange li,
	.inner-content p {
    font-size: 15px;
	}

}

@media(max-width:365px) {
	.inner-content a.link,
	.footer-title-discription,
	.content-block-text p,
	.header-block-text p {
	font-size: 15px;
	}
	
}